<server description="Sample Liberty server">

    <featureManager>
        <feature>pages-3.0</feature>        <!-- needed for the  JSP -->
    </featureManager>

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" />


    <enterpriseApplication id="multimodule-ear" location="earArtifact.ear" name="multimodule-ear" />

</server>